<a class="btn" href="{{href}}">
  <span>{{label}}</span>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 576.83 145.97">
    <defs>
      <linearGradient id="{{id}}-a" x1="0" y1="72.98" x2="576.83" y2="72.98"
        gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="{{gradient-from}}" />
        <stop offset="1" stop-color="{{gradient-to}}" />
      </linearGradient>
      <linearGradient id="{{id}}-b" x1="13.58" y1="72.98" x2="563.25" y2="72.98"
        xlink:href="#{{id}}-a" />
    </defs>
    <rect x="2.5" y="2.5" width="571.83" height="140.97" rx="70.48" ry="70.48"
      style="fill:none;stroke:url(#{{id}}-a);stroke-miterlimit:10;stroke-width:5px" />
    <rect x="13.58" y="13.11" width="549.66" height="119.75" rx="59.87" ry="59.87"
      style="fill:url(#{{id}}-b);stroke-width:0" />
  </svg>
</a>